@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
